.logo{
      margin: auto;
      width: 600px;
}

.Variety{

}

.History{

}

.his-left{
    float: left;
    width: 400px;
}

.his-center{
    float: left;
    width: 400px;
    margin-left: 40px;
}

.his-right{
    width: 400px;
}

.Efficacy{

}

.eff-left{
   float: left;
   width: 400px;
}

.eff-center{
   float: left;
   width: 400px;
   margin-left: 40px;
}

.eff-right{
   width: 400px;
}
